/.phpunit.cache
/node_modules
/public/build
/public/hot
/track
/documents
/img
/public/storage
/storage/*.key
/vendor
/posts
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
license.php
payments_document.php
end_user_license.php
auth.json
TsnCs.php
default.php
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
